body {
  display: flex;
  background-color: #dee6ee;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 150px;
  margin-bottom: 20px;
  color: #ad2a2a;
  font-weight: 600;
  text-align: center;
}

#highScore, #timer {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  margin: 20px;
  color: #333333;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin-left: 20px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(8, 100px); 
  grid-gap: 30px;
}

.card {
  border-radius: 15px;
  width: 100px;
  height: 100px;
  background-color: #8e44ad;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8);
}

.card .front,
.card .back {
  position: absolute;
  transition: transform 0.7s;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}

.card .front {
  background-color: #997beb;
  transform: rotateY(180deg);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  text-shadow: 4px 4px 8px rgba(7, 6, 6, 0.7); 
}

.card .back {
  background-color: #006b56;
}

.card.flipped-card .front {
  transform: rotateY(0);
}

.card.flipped-card .back {
  transform: rotateY(180deg);
}

@media screen and (max-width: 768px) {
  body {
    padding-bottom: 50px;
  }

  h1 {
    margin-top: 50px;
  }

  .game-board {
    grid-template-columns: repeat(4, 100px); 
    grid-gap: 30px;
  }
}

@media screen and (max-width: 480px) {
  body {
    height: auto;
    padding-bottom: 70px;
  }

  .game-board {
    grid-template-columns: repeat(2, 100px); 
    grid-gap: 30px;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

@media screen and (min-width: 770px) and (max-width: 1100px) {
  .game-board {
    grid-template-columns: repeat(6, 100px); 
    grid-gap: 20px;
  }

  h1 {
    margin-top: 80px;
  }
}

@media screen and (min-width: 320px) and (max-width: 510px) {
  body {
    padding-left: 10px; 
    padding-right: 10px; 
  }

  h1 {
    margin-left: 20px; 
    margin-right: 20px;
  }

  .game-board {
    grid-template-columns: repeat(2, 100px); 
    grid-gap: 20px;
    margin-left: 60px; 
    margin-right: 20px;
  }
}
